# vLLM instance (`VLLM_API_BASE` is also valid)
HOSTED_VLLM_API_BASE=https://helx-ai-medium-vllm.apps.renci.org/v1
# vLLM API Key (if applicable; `VLLM_API_KEY` is also valid)
HOSTED_VLLM_API_KEY=<key>

OPENAI_API_KEY=<key>
# If using e.g., Azure proxy.
OPENAI_BASE_URL=http://localhost:8080/v1

# If you want to restrict which models are available for Palimpzest to execute workflows using. Comma-delimited list.
PZ_PREFERRED_MODELS="hosted_vllm/meta-llama/Meta-Llama-3.1-8B-Instruct"
# Enable RAG operators in Palimpzest. Requires text-embedding-3-small to be available.
PZ_RAG_ENABLED=false

# Bdf-pz package-level logging level
LOG_LEVEL=info
# Shutdown beaker if vLLM is configured but available models are unable to be loaded.
DEBUG=true